@model Shop.ViewModel.BlogViewModel
@{
    Layout = "_DashBoardLayout";
}
<div class="dash-content">
    <div class="overview">
        <div class="title">
            <i class="uil uil-tachometer-fast-alt"></i>
            <span class="text">Editing Blog</span>
        </div>

        <div>
            <form asp-action="EditBlog" class="row" method="post">
                <input type="hidden" asp-for="blog.Id" />
                <div class="mb-3">
                    <label class="form-label">Blog Title</label>
                    <input type="text"
                           asp-for="blog.Title"
                           value="@Model.blog.Title"
                           class="form-control"
                           placeholder="" />

                </div>
                <div class="mb-3">
                    <label class="form-label">Blog Details</label>
                    <textarea type="text"
                              asp-for="blog.Detail"
                              id=""
                              class="form-control"
                              placeholder="">
                        @Model.blog.Detail
                          </textarea>
                </div>
               
               
               

                <div class="mb-3 col-lg-6">
                    <label class="form-label">Category</label>
                    <select class="form-select "
                            asp-for="blog.CategoryId"
                            id="">

                        <option selected>Select one</option>
                        @foreach(var cate in Model.categories)
                        {
                            <option value="@cate.Id">@cate.Name</option>
                        }

                    </select>
                </div>

                

                <div class="col-lg-12 d-flex justify-content-center  ">

                    <button type="submit" class="btn btn-primary">Submit</button>

                </div>
            </form>

        </div>
    </div>
</div>